body{
    background-color: black;
    margin: 0;
    color: white;
}

h1{
    color: white;
    margin: 30px;
}

h3{
    color: white;
    margin: 30px;
}

.form-control{
    width: 390px;
    text-align: center;
}